body{
    font-family: "Oxanium", cursive;
    background-color: black;
    color: white;
}

body::before{
    content: "";
    background-image: url(../../public/img/bg_radiator.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.2;
}

.logo {
    display: flex;
    width: 300px;
    margin-top: 40px;
    
}
.cabecalho{
    display: flex;
    justify-content: center;
}

.selecao_personagens{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
   
}

.selecao_personagens 
.lista_personagens{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.selecao_personagens  .personagens{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 585px;
    gap: 30px;
    
}

.selecao_personagens .personagens .titulo{
    font-size: 20px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    border-bottom: 2px solid white;
    width: 100%;
    text-align: center;
    
}

.lista_personagens .personagem img{
    width: 100%;
    height: 100%;
}

.lista_personagens .personagem.selecionado{
    box-shadow: 0px 0px 24px 5px #fb0000;
    transition: 0.5s;
    
    
}
.personagem > img{
    border-bottom: 3px solid #fb0000;
    width: 100%;
    height: 100%;

}

.personagem_selecionado{
    text-align: center;
    max-height: 530px;
    transition: opacity 0.5s; 

}

.personagem_selecionado:hover {
    transform: scale(1.1); /* Example animation - scale up on hover */
    transition: transform 0.5s ease; /* Example animation duration and easing */
}

.personagem_selecionado .personagem_grande{
    width: 330px;
    height: 230px;
}

.personagem_selecionado .nome_personagem{
    border-bottom: 2px solid #fb0000;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.descricao_personagem{
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-top: 20px;
    width: 420px;
}

button_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.start {
    margin: 30px 45%;
    background-color: #fb0000;
    width: 180px;
    height: 60px;
    border: transparent;
    border-radius: 5px;
    color: aliceblue;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.2em;   
}
.canvasHidden{
    display: none;
}

.canvasVisible {
    display: block;
  }
.hidden {
    display: none;
  }
  
canvas {
    border: 1px solid black;
    margin: 1% 34.3%;  
}

/* responsividade */

@media (max-width: 1120px){
    .cabecalho .logo{
        max-width: 190px;
    }

    .selecao_personagens{
        flex-direction: column-reverse;
       max-width: 430px;
       margin: 0 auto;   
    }

    .selecao_personagens .personagens{
        margin-top: 50px;
    }
    
    .selecao_personagens .lista_personagens{
        gap: 18px;
    }
    button {
        display: flex;
    }
}